html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: #001f3f;
}

#score {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 24px;
  font-family: sans-serif;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
  border: 3px solid white;
}
